
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

@font-face {
  font-family: "NextArtRegular";
  src: url("./fonts/NEXT ART_Regular.otf") format("opentype");
}
@font-face {
  font-family: "NextArtBold";
  src: url("./fonts/NEXT ART_Bold.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", serif;
}

.header{
  width: 1920px;
  background-image: url('./img/header-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 985px;

.header_container{
  padding-top: 16px;
  width: 1180px;
  margin: 0 auto;
  .nav{
    display: flex;
    flex-direction: row;
    font-weight: 500;
  /*  border: 1px solid black;*/
    justify-content: space-between;

    .logo{
      max-width: 137px;
      flex: -1;
    }
    .nav-row{
      color: #ffff;
      font-size: 18px;
      width: 831px;
      display: flex;
     /* border: 1px salmon solid;*/
      justify-content: space-between;

      .nav-list{
        display: flex;
        padding: 0;
        align-items: center;
        width: 625px;
        flex-direction: row;
        justify-content: space-between;
       /* border: 1px solid red;*/
        list-style: none;

        a{
          text-decoration: none;
          color: #FDFDFD;
          font-family: Nunito Sans, serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          &:active{
            color: #F2BE22;
          }

        }

      }
      .btn-wrapper{
        display: flex;

        align-items: center;

        .header-btn{
          font-weight: 600;
          font-family: "Nunito Sans", serif;
          line-height: 20px;
          font-size: 16px ;
          background-color: #1A3E3E;
          color: #fff ;
          width: 157px;
          border-radius: 4px;
          padding: 12px 24px;
          outline: none;
          border: none;

          &:active {
            color: salmon;
          }

        }
      }


    }
  }
}

  .header-desc{
    width: 1080px;
    padding-top: 408px;
    color: #FDFDFD;
    text-transform: uppercase;
    font-family: "NextArtBold", serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 50px;
    line-height: 75px;

    p{
      margin-bottom: 41px;
    }
  }

  .header-tours{
    width: 1180px;
    background: rgba(255, 255, 255, 0.20);
    border-radius: 10px;
    backdrop-filter: blur(3px);

    .container{
        width: 1095px;
        display: flex;
        justify-content: space-between;
        padding: 39.5px 43px;
        color: #FDFDFD;

      .btn-wrapper{
        display: flex;

        .header-btn{
          font-weight: 600;
          font-family: "Nunito Sans", serif;
          line-height: 20px;
          font-size: 16px ;
          border-radius: 4px;
          background: #FDFDFD;
          color: #1A3E3E ;
          width: 213px;
          height: 52px;

          padding: 12px 24px;
          outline: none;
          border: none;

          &:active {
            color: salmon;
          }

        }
      }


      .container-input{
        display: inline-flex;
        align-items: flex-start;

        .input-group{
        }

        .input-item{

          display: flex;
          width: 270px;
          align-items: center;
          align-self: stretch;
          padding: 13px;
          margin-right: 24px;
          border-radius: 8px;
          color: #FDFDFD;
          border: 1px solid #E1E3E4;
          margin-bottom: 8px;
          font-family: Nunito Sans, serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 24px */
          -webkit-appearance: none;
          background: url('./img/ep_arrow-down.png') no-repeat right 13px center;

        }
        .calendar{
          background: url('./img/formkit_date.png') no-repeat right 13px center;

        }

        .input-item-text{
          margin-left: 8px;
          color: #FDFDFD;
          font-family: Nunito Sans, serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */

        }

      }
    }
  }
}

.about{
  width: 1920px;
  min-height: 725px;
  background: white;
  box-sizing: border-box;
  padding-top: 100px;


  .section-container{
    display: flex;
    align-items: center;
    width: 1180px;
    margin: 0 auto;
    justify-content: space-between;
    /*border: 1px solid chartreuse;*/
    box-sizing: border-box;

    .photos-container{
      display: flex;
      width: 480px;
      box-sizing: border-box;

      .first-photo{
        display: block;
        position: relative;
        width: 350px;
        height: 400px;

      }

      .img-wrapper{
        display: block;
        position: relative;
        margin-top: 128px;
        right: 220px;
        width: 350px;
        height: 400px;

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 50px;
          height: 50px;
          border-radius: 100px;
          background: rgba(253, 253, 253, 0.60) url('./img/play.png') center/cover no-repeat;
          background-size: auto;
        }
      }
      .second-photo{
        position: relative;
        display: block;
      }
    }

    .desc-container{
      width: 580px;
     /* background: gray;*/
      font-family: Nunito Sans, serif;

      .desc-container-about{
        color: #F2BE22;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
      }
      .desc-container-title{
        color: #18121E;
        margin-top: 8px;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
      }
      .desc-container-content{
        color: #18121E;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        margin: 40px 0;
        line-height: 150%;
      }

      .btn-wrapper{
        display: flex;

        align-items: center;

        .desc-btn{
          color: #FDFDFD;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px; /* 125% */
          display: flex;
          padding: 16px 36px;
          justify-content: center;
          align-items: center;
          outline: none;
          border: none;
          border-radius: 4px;
          background: #1A3E3E;

          &:active {
            color: salmon;
          }

        }
      }
    }

  }
}
.our-offer {
  width: 1920px;
  min-height: 771px;
  background: #F3F5F4;
  box-sizing: border-box;
}
