@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");
@font-face {
  font-family: "NextArtRegular";
  src: url("./fonts/NEXT ART_Regular.otf") format("opentype");
}
@font-face {
  font-family: "NextArtBold";
  src: url("./fonts/NEXT ART_Bold.otf") format("opentype");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", serif;
}

.header {
  width: 1920px;
  background-image: url("./img/header-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 985px;
}
.header .header_container {
  padding-top: 16px;
  width: 1180px;
  margin: 0 auto;
}
.header .header_container .nav {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  /*  border: 1px solid black;*/
  justify-content: space-between;
}
.header .header_container .nav .logo {
  max-width: 137px;
  flex: -1;
}
.header .header_container .nav .nav-row {
  color: white;
  font-size: 18px;
  width: 831px;
  display: flex;
  /* border: 1px salmon solid;*/
  justify-content: space-between;
}
.header .header_container .nav .nav-row .nav-list {
  display: flex;
  padding: 0;
  align-items: center;
  width: 625px;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red;*/
  list-style: none;
}
.header .header_container .nav .nav-row .nav-list a {
  text-decoration: none;
  color: #FDFDFD;
  font-family: Nunito Sans, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header .header_container .nav .nav-row .nav-list a:active {
  color: #F2BE22;
}
.header .header_container .nav .nav-row .btn-wrapper {
  display: flex;
  align-items: center;
}
.header .header_container .nav .nav-row .btn-wrapper .header-btn {
  font-weight: 600;
  font-family: "Nunito Sans", serif;
  line-height: 20px;
  font-size: 16px;
  background-color: #1A3E3E;
  color: #fff;
  width: 157px;
  border-radius: 4px;
  padding: 12px 24px;
  outline: none;
  border: none;
}
.header .header_container .nav .nav-row .btn-wrapper .header-btn:active {
  color: salmon;
}
.header .header-desc {
  width: 1080px;
  padding-top: 408px;
  color: #FDFDFD;
  text-transform: uppercase;
  font-family: "NextArtBold", serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 50px;
  line-height: 75px;
}
.header .header-desc p {
  margin-bottom: 41px;
}
.header .header-tours {
  width: 1180px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(3px);
}
.header .header-tours .container {
  width: 1095px;
  display: flex;
  justify-content: space-between;
  padding: 39.5px 43px;
  color: #FDFDFD;
}
.header .header-tours .container .btn-wrapper {
  display: flex;
}
.header .header-tours .container .btn-wrapper .header-btn {
  font-weight: 600;
  font-family: "Nunito Sans", serif;
  line-height: 20px;
  font-size: 16px;
  border-radius: 4px;
  background: #FDFDFD;
  color: #1A3E3E;
  width: 213px;
  height: 52px;
  padding: 12px 24px;
  outline: none;
  border: none;
}
.header .header-tours .container .btn-wrapper .header-btn:active {
  color: salmon;
}
.header .header-tours .container .container-input {
  display: inline-flex;
  align-items: flex-start;
}
.header .header-tours .container .container-input .input-item {
  display: flex;
  width: 270px;
  align-items: center;
  align-self: stretch;
  padding: 13px;
  margin-right: 24px;
  border-radius: 8px;
  color: #FDFDFD;
  border: 1px solid #E1E3E4;
  margin-bottom: 8px;
  font-family: Nunito Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  -webkit-appearance: none;
  background: url("./img/ep_arrow-down.png") no-repeat right 13px center;
}
.header .header-tours .container .container-input .calendar {
  background: url("./img/formkit_date.png") no-repeat right 13px center;
}
.header .header-tours .container .container-input .input-item-text {
  margin-left: 8px;
  color: #FDFDFD;
  font-family: Nunito Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.about {
  width: 1920px;
  min-height: 725px;
  background: white;
  box-sizing: border-box;
  padding-top: 100px;
}
.about .section-container {
  display: flex;
  align-items: center;
  width: 1180px;
  margin: 0 auto;
  justify-content: space-between;
  /*border: 1px solid chartreuse;*/
  box-sizing: border-box;
}
.about .section-container .photos-container {
  display: flex;
  width: 480px;
  box-sizing: border-box;
}
.about .section-container .photos-container .first-photo {
  display: block;
  position: relative;
  width: 350px;
  height: 400px;
}
.about .section-container .photos-container .img-wrapper {
  display: block;
  position: relative;
  margin-top: 128px;
  right: 220px;
  width: 350px;
  height: 400px;
}
.about .section-container .photos-container .img-wrapper:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: rgba(253, 253, 253, 0.6) url("./img/play.png") center/cover no-repeat;
  background-size: auto;
}
.about .section-container .photos-container .second-photo {
  position: relative;
  display: block;
}
.about .section-container .desc-container {
  width: 580px;
  /* background: gray;*/
  font-family: Nunito Sans, serif;
}
.about .section-container .desc-container .desc-container-about {
  color: #F2BE22;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
.about .section-container .desc-container .desc-container-title {
  color: #18121E;
  margin-top: 8px;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.about .section-container .desc-container .desc-container-content {
  color: #18121E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 40px 0;
  line-height: 150%;
}
.about .section-container .desc-container .btn-wrapper {
  display: flex;
  align-items: center;
}
.about .section-container .desc-container .btn-wrapper .desc-btn {
  color: #FDFDFD;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  display: flex;
  padding: 16px 36px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #1A3E3E;
}
.about .section-container .desc-container .btn-wrapper .desc-btn:active {
  color: salmon;
}

.our-offer {
  width: 1920px;
  min-height: 771px;
  background: #F3F5F4;
  box-sizing: border-box;
  padding-top: 80px;
  padding-left: 370px;
  display: flex;
  align-items: flex-start;
}
.our-offer .our-offer-container {
  width: 580px;
  box-sizing: border-box;
  /*border: 1px salmon solid;*/
  /*margin: 0 370px;*/
  /*margin: 0 90px;*/
}
.our-offer .our-offer-container .our-offer-container-about {
  color: #F2BE22;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
.our-offer .our-offer-container .our-offer-container-title {
  color: #18121E;
  margin-top: 8px;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.our-offer .our-offer-container .our-offer-container-content {
  color: #18121E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 40px 0;
  line-height: 150%;
}
.our-offer .our-offer-container .our-offer-container-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.our-offer .our-offer-container .our-offer-container-item .item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E5EEEB;
}
.our-offer .our-offer-container .our-offer-container-item .item-desc {
  margin-left: 16px;
}
.our-offer .our-offer-container .our-offer-container-item .item-desc .item-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #18121E;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  letter-spacing: 0.216px;
}
.our-offer .our-offer-container .our-offer-container-item .item-desc .item-content {
  color: #000;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.our-offer .our-offer-container .btn-wrapper {
  display: flex;
  align-items: center;
}
.our-offer .our-offer-container .btn-wrapper .desc-btn {
  display: flex;
  color: #FDFDFD;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  padding: 16px 36px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #1A3E3E;
}
.our-offer .our-offer-container .btn-wrapper .desc-btn:active {
  color: salmon;
}
.our-offer .our-offer-images {
  box-sizing: border-box;
  justify-content: space-between;
  margin-right: 100px;
  display: flex;
  width: 510px;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 90px;
}
.our-offer .our-offer-images img:nth-child(1),
.our-offer .our-offer-images img:nth-child(2) {
  margin-bottom: 10px;
}

.popular-routes {
  width: 1920px;
  min-height: 898px;
  background: #FFF;
  box-sizing: border-box;
  padding-top: 80px;
}
.popular-routes .popular-routes-container {
  width: 1180px;
  box-sizing: border-box;
  margin: 0 auto;
}
.popular-routes .popular-routes-container .popular-routes-container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin: 0 auto;
  width: 580px;*/
}
.popular-routes .popular-routes-container .popular-routes-container-title .popular-routes-version {
  margin: 0 0 8px 0;
  color: #F2BE22;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
}
.popular-routes .popular-routes-container .popular-routes-container-title .popular-routes-popular {
  margin: 0 0 50px 0;
  color: #18121E;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 38.4px */
}
.popular-routes .popular-routes-container .popular-routes-container-tours {
  display: flex;
  justify-content: space-between;
}
.popular-routes .popular-routes-container .popular-routes-container-tours .img-wrapper {
  display: block;
  position: relative;
  width: 380px;
  height: 500px;
}
.popular-routes .popular-routes-container .popular-routes-container-tours .img-wrapper .img-badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 32px;
  top: 50px;
  right: 0;
  border-radius: 4px 0 0 4px;
  background: rgba(253, 253, 253, 0.4);
  backdrop-filter: blur(2px);
}
.popular-routes .popular-routes-container .popular-routes-container-tours .img-wrapper .img-badge .score {
  color: #1A3E3E;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  font-family: Nunito Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
}
.popular-routes .popular-routes-container .popular-routes-container-tours .img-wrapper .img-wrapper-bottom {
  position: absolute;
  width: 380px;
  height: 90px;
  border-radius: 0 0 32px 32px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}
.popular-routes .popular-routes-container .popular-routes-container-tours .img-wrapper .img-wrapper-bottom .img-wrapper-desc {
  display: flex;
  flex-direction: column;
  padding: 20px 153px 41px 32px;
  /*padding: 20px 153px 41px 32px;*/
}
.popular-routes .popular-routes-container .popular-routes-container-tours .img-wrapper .img-wrapper-bottom .img-wrapper-desc .img-wrapper-desc-title {
  color: #FDFDFD;
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
}
.popular-routes .popular-routes-container .popular-routes-container-tours .img-wrapper .img-wrapper-bottom .img-wrapper-desc .img-wrapper-desc-desc {
  color: #FDFDFD;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
.popular-routes .popular-routes-container .popular-routes-container-tours .img-wrapper .img-wrapper-bottom .img-wrapper-desc .img-wrapper-bottom-cost {
  position: absolute;
  right: 32px;
  top: 25px;
  display: inline-flex;
  padding: 8px 16px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  color: #FDFDFD;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}
.popular-routes .popular-routes-container .btn-wrapper {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.popular-routes .popular-routes-container .btn-wrapper .desc-btn {
  display: flex;
  color: #FDFDFD;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  padding: 16px 36px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #1A3E3E;
}
.popular-routes .popular-routes-container .btn-wrapper .desc-btn:active {
  color: salmon;
}

.travel-blog {
  width: 1920px;
  min-height: 1036px;
  background: #F3F5F4;
  box-sizing: border-box;
  padding-top: 80px;
}
.travel-blog .travel-blog-container {
  width: 1180px;
  box-sizing: border-box;
  margin: 0 auto;
}
.travel-blog .travel-blog-container .travel-blog-container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin: 0 auto;
  width: 580px;*/
}
.travel-blog .travel-blog-container .travel-blog-container-title .travel-blog-impression {
  margin: 0 0 8px 0;
  color: #F2BE22;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
}
.travel-blog .travel-blog-container .travel-blog-container-title .travel-blog-about {
  margin: 0 0 40px 0;
  color: #18121E;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 38.4px */
}
.travel-blog .travel-blog-container .blog-posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1180px;
  /*height: 1000px;*/
}
.travel-blog .travel-blog-container .blog-posts-container .blog-posts-item {
  box-sizing: border-box;
  /* max-height: 312px;*/
  display: flex;
  justify-content: space-between;
  width: 580px;
  border-radius: 10px;
  background: #FDFDFD;
  padding: 16px;
}
.travel-blog .travel-blog-container .blog-posts-container .blog-posts-item:nth-child(1), .travel-blog .travel-blog-container .blog-posts-container .blog-posts-item:nth-child(2) {
  margin-bottom: 24px;
}
.travel-blog .travel-blog-container .blog-posts-container .blog-posts-item .item-image {
  width: 230px;
  height: 280px;
  flex-shrink: 0;
  border-radius: 6px;
}
.travel-blog .travel-blog-container .blog-posts-container .blog-posts-item .item-text-container {
  width: 294px;
  display: flex;
  padding: 16px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.travel-blog .travel-blog-container .blog-posts-container .blog-posts-item .item-text-container .item-title {
  color: #18121E;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.travel-blog .travel-blog-container .blog-posts-container .blog-posts-item .item-text-container .item-desc {
  height: 116px;
  /*   min-height: 140px;*/
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.travel-blog .travel-blog-container .blog-posts-container .blog-posts-item .item-text-container .item-text-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.travel-blog .travel-blog-container .blog-posts-container .blog-posts-item .item-text-container .item-text-bottom .item-text-date {
  color: #F2BE22;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
.travel-blog .travel-blog-container .blog-posts-container .blog-posts-item .item-text-container .item-text-bottom .item-text-read {
  color: #1A3E3E;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
.travel-blog .travel-blog-container .btn-wrapper {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.travel-blog .travel-blog-container .btn-wrapper .desc-btn {
  display: flex;
  color: #FDFDFD;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  padding: 16px 36px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #1A3E3E;
}
.travel-blog .travel-blog-container .btn-wrapper .desc-btn:active {
  color: salmon;
}

.photo-report {
  width: 1920px;
  min-height: 1006px;
  background: #FFF;
  box-sizing: border-box;
  padding-top: 80px;
}
.photo-report .photo-report-container {
  width: 1180px;
  box-sizing: border-box;
  margin: 0 auto;
}
.photo-report .photo-report-container .photo-report-container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /*margin: 0 auto;
  width: 580px;*/
}
.photo-report .photo-report-container .photo-report-container-title .photo-report-title {
  margin: 0 0 8px 0;
  color: #F2BE22;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
}
.photo-report .photo-report-container .photo-report-container-title .photo-report-subtitle {
  margin: 0 0 40px 0;
  color: #18121E;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 38.4px */
}
.photo-report .photo-report-container .photos-container {
  box-sizing: border-box;
  width: 1180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.photo-report .photo-report-container .photos-container .item-image {
  display: flex;
}
.photo-report .photo-report-container .photos-container .item-image:nth-child(1), .photo-report .photo-report-container .photos-container .item-image:nth-child(2), .photo-report .photo-report-container .photos-container .item-image:nth-child(3) {
  margin-bottom: 20px;
}
.photo-report .btn-wrapper {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.photo-report .btn-wrapper .desc-btn {
  display: flex;
  color: #FDFDFD;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  padding: 16px 36px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #1A3E3E;
}
.photo-report .btn-wrapper .desc-btn:active {
  color: salmon;
}

.footer {
  width: 1920px;
  height: 587px;
  flex-shrink: 0;
  background: #1A3E3E;
}
.footer .mailing {
  position: relative;
  top: -98px;
  margin: 0 auto;
  width: 1180px;
  height: 196px;
  border-radius: 6px;
  background: #FDFDFD;
  box-shadow: 0 0 15px 0 rgba(24, 18, 30, 0.12);
}
.footer .mailing .actual {
  padding: 40px 700px 66px 100px;
  display: flex;
  width: 380px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.footer .mailing .actual .actual-title {
  color: #F2BE22;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
.footer .mailing .actual .actual-subtitle {
  color: #18121E;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 31.2px */
}
.footer .mailing .emailing-block {
  display: inline-flex;
  align-items: flex-end;
  width: 536px;
  gap: 16px;
}
.footer .mailing .emailing-block .emailing-block-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

/*# sourceMappingURL=styles.css.map */
